.Results h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 0;
  color: black;
}

.Results .phonetic-text {
  color: #ff9800;
  font-weight: bold;
  margin-top: 0;
  font-size: 20px;
}
